<a href="https://colab.research.google.com/github/dlskawns/Engineering_algorithm/blob/main/%EB%B0%B1%EC%A4%80_%EC%86%8C%EC%88%98_2581.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 문제
자연수 M과 N이 주어질 때 M이상 N이하의 자연수 중 소수인 것을 모두 골라 이들 소수의 합과 최솟값을 찾는 프로그램을 작성하시오.

예를 들어 M=60, N=100인 경우 60이상 100이하의 자연수 중 소수는 61, 67, 71, 73, 79, 83, 89, 97 총 8개가 있으므로, 이들 소수의 합은 620이고, 최솟값은 61이 된다.


## 입력
입력의 첫째 줄에 M이, 둘째 줄에 N이 주어진다.

M과 N은 10,000이하의 자연수이며, M은 N보다 작거나 같다.


## 출력
M이상 N이하의 자연수 중 소수인 것을 모두 찾아 첫째 줄에 그 합을, 둘째 줄에 그 중 최솟값을 출력한다. 

단, M이상 N이하의 자연수 중 소수가 없을 경우는 첫째 줄에 -1을 출력한다.

In [14]:
first = int(input())
last = int(input())
lst = []
for i in range(first, last+1):
  if i == 2 or i == 3 or i == 5:
    lst.append(i)
  elif i %2 != 0 and i % 3 != 0 and i % 5 != 0 and i != 1:
    P = 0 
    for j in range(2, i):
      if i % j == 0 :
        P += 1
    if P == 0:
      lst.append(i)
if len(lst) == 0:
  print(-1)
else:
  sum_lst = sum(lst)
  min_lst = min(lst)
  print(sum_lst)
  print(min_lst)

1
120
1593
2

In [10]:
def func(x):
  first, last = list(map(int, x.split()))
  lst = []
  for i in range(first, last+1):
    if i == 2 or i == 3 or i == 5:
      lst.append(i)
    elif i %2 != 0 and i % 3 != 0 and i % 5 != 0 and i != 1:
      P = 0 
      for j in range(2, i):
        if i % j == 0 :
          P += 1
      if P == 0:
        lst.append(i)
  if len(lst) == 0:
    print(-1)
  else:
    sum_lst = sum(lst)
    min_lst = min(lst)
    print(sum_lst)
    print(min_lst)
func(input())

In [11]:
func(input())

1 120
1593
2