<a href="https://colab.research.google.com/github/dlskawns/Engineering_algorithm/blob/main/%EB%B0%B1%EC%A4%80_%EC%9D%B4%EC%A7%84%EC%88%98_3460.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 문제

양의 정수 n이 주어졌을 때, 이를 이진수로 나타냈을 때 1의 위치를 모두 찾는 프로그램을 작성하시오. 최하위 비트(least significant bit, lsb)의 위치는 0이다.

## 입력
첫째 줄에 테스트 케이스의 개수 T가 주어진다. 각 테스트 케이스는 한 줄로 이루어져 있고, n이 주어진다. (1 ≤ T ≤ 10, 1 ≤ n ≤ 106)

1  
13


## 출력
각 테스트 케이스에 대해서, 1의 위치를 공백으로 구분해서 줄 하나에 출력한다. 위치가 낮은 것부터 출력한다.

0 2 3

#### 이진수로 표현하는 법

2 = 10  
4 = 100  
8 = 1000  
10 = 1010  
11 = 1011

In [121]:

for _ in range(int(input())):
  n = input()
  bin_n = bin(int(n))[2:][::-1]
  idx_lst = []
  idx = 0
  while idx <len(bin_n):
    if bin_n[idx] =='1':
      idx_lst.append(str(idx))
    idx += 1
  idx_lst = ' '.join(idx_lst)
  print(idx_lst)

2
13
0 2 3
12
2 3